.month p {
    margin-left: 120px;
}

.month section[role=main] {
    margin-left: 120px;
}

    .month section[role=main] #monthgroup {
        height: 100%;
    }
    
    .month section[role=main] #monthgroup .groupLabel {
        font-size: 14pt;
        margin: 1em;
    }

    .month section[role=main] .thumbnail {
        background-image: url('/images/Hilo150b.png');
        background-size: cover;
        background-repeat: no-repeat;
    }