.month .thumbnail {
    background-image: url('/images/Hilo150b.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.month .semanticZoomContainer {
    /* 
        The semantic zoom control produces a container that will collapse,
        and consequently the list view controls inside will only be one row
        tall. We want them to use all of the available space, so we tell the
        semantic zoom to use all of the available height.        
        */
    height: 100%;
}

    .month .semanticZoomContainer .win-horizontal.win-viewport .win-surface {
        margin-bottom: 60px;
        margin-left: 50px;
        margin-right: 120px;
    }

    .month .semanticZoomContainer .win-listview .win-groupheader {
        padding: 0;
        margin: 0;
        padding-bottom: 20px;
        margin-left: 70px;
    }

.month .yearMonthItem {
    background-color: #F19720;
    width: 150px;
    height: 150px;
    position: relative;
}

    .month .yearMonthItem span {
        position: absolute;
        bottom: 8px;
        right: 8px;
        color: black;
        font-weight: bold;
        font-size: 18px;
    }
