.hub section[role=main] {
    margin-left: 120px;
}

@media screen and (-ms-view-state: snapped) {
    .hub section[role=main] {
        margin-left: 20px;
    }
}

@media screen and (-ms-view-state: portrait) {
    .hub section[role=main] {
        margin-left: 100px;
    }
}

.hub section[role=main] #picturesLibrary {
    width: 800px;
    height: 100%;
}

    .hub section[role=main] .thumbnail  {
        width: 200px;
        height: 200px;
        background-image: url('/images/Hilo150b.png');
        background-size: cover;
        background-repeat: no-repeat;
    }

        .hub section[role=main] .thumbnail.first{
            width: 410px;
            height: 410px;
        }
