.hub section[role=main] {
}

    .hub section[role=main] h2 {
        margin-left: 120px;
    }

    .hub section[role=main] #picturesLibrary {
        margin-left: 120px;
        height: 100%;
    }

    .hub section[role=main] .thumbnail {
        background-image: url('/images/Hilo150b.png');
        background-size: cover;
        background-repeat: no-repeat;
    }

    .hub section[role=main] .empty-library {
        font-size: 2em;
        margin-left: 120px;
        color: #999;
    }

@media screen and (min-width: 400px) {

    .hub section[role=main] #picturesLibrary {
        width: 800px;
    }

    .hub section[role=main] .thumbnail {
        width: 200px;
        height: 200px;
    }

        .hub section[role=main] .thumbnail.first {
            width: 410px;
            height: 410px;
        }
}

@media screen and (-ms-view-state: snapped) {
    .hub section[role=main] h2 {
        margin-left: 5px;
        font-size: 20pt;
        font-weight: 200;
        line-height: 1.2;
    }

    .hub section[role=main] {
        margin-left: 0px;
        width: 300px;
    }

        .hub section[role=main] #picturesLibrary {
            margin-left: 0px;
        }

        .hub section[role=main] .thumbnail, .hub section[role=main] .thumbnail.first {
            margin: 0px;
            padding: 0px;
            left: 0px;
            width: 272px;
            height: 200px;
            position: relative;
        }
}

@media screen and (-ms-view-state: portrait) {
    .hub section[role=main] {
        margin-left: 100px;
    }
}
