.rotate p {
    margin-left: 120px;
}

.rotatable {
    transition-property: top, height, width, max-height, max-width, transform;
    transition-duration: 1s;
    transition-delay: 0s;
}

.content-wrapper {
    width: 100%;
    text-align: center;
}

#rotate-header {
    display: none;
}

#rotate-image {
    margin: 0 auto;
    display: block !important;
}

@media screen and (-ms-view-state: snapped) {
    #rotate-header {
        display: -ms-grid;
    }

    #rotate-image {
        max-height: none;
        max-width: 289px;
        height: auto;
    }

}
