.rotate p {
    margin-left: 120px;
}

.rotatable {
    transition-property: transform;
    transition-duration: 1s;
    transition-delay: 0s;
}

.content-wrapper {
    width: 100%;
    height: 100%;
    text-align: center;
}

#image {
    margin: 0px auto;
    max-height: 85%;
}

.full-screen-button {
	display: inline;
}

.snap-view-button {
	display: none;
}

.fragment header[role=banner] {
	display: none;
}

@media screen and (-ms-view-state: snapped) {
	.fragment header[role=banner] {
		display: -ms-grid;
	}

	.full-screen-button {
		display: none;
	}

	.snap-view-button {
		display: inline;
	}

	#image {
	    max-height: none;
		max-width: 289px;
	}

}