.detail section[role=main] {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 1fr;
    display: -ms-grid;
}

@media screen and (-ms-view-state: snapped) {
    .detail section[role=main] {
        margin-left: 20px;
    }
}

@media screen and (-ms-view-state: portrait) {
    .detail section[role=main] {
        margin-left: 100px;
    }
}


.detail img {
    max-height: 100%;
    max-width: 100%;
    -ms-grid-column-align: center;
    -ms-grid-row-align: center;
    -ms-grid-column: 1;
    -ms-grid-row: 1;
}

.detail .win-backbutton {
    -ms-grid-column-align: start;
    -ms-grid-row-align: start;
    -ms-grid-column: 1;
    -ms-grid-row: 1;
}