.crop p {
    margin-left: 120px;
}

.croppable {
    transition-property: transform;
    transition-duration: 1s;
    transition-delay: 0s;
}

.content-wrapper {
	width: 100%;
	height: 100%;
	text-align: center;
}

.canvas-wrapper {
	margin: 0px auto;
    max-height: 85%;
}

#cropSelection {
	position: fixed;
	border: 2px dashed #fff;
	display: none;
	overflow: visible;
	min-height: 30px;
	min-width: 30px;
}

.corner {
	position: fixed;
	background-color: #fff;
	opacity: 0.5;
	cursor: crosshair;
	display: block;
	height: 20px;
	width: 20px;
	overflow: hidden;
}

#topLeft {
	position: absolute;
	top: -10px;
	left: -10px;
	border-right: 2px dashed #000;
	border-bottom: 2px dashed #000;
}

#topRight {
	position: absolute;
	top: -10px;
	right: -10px;
	border-left: 2px dashed #000;
	border-bottom: 2px dashed #000;
}

#bottomLeft {
	position: absolute;
	bottom: -10px;
	left: -10px;
	border-right: 2px dashed #000;
	border-top: 2px dashed #000;
}

#bottomRight {
	position: absolute;
	bottom: -10px;
	right: -10px;
	border-left: 2px dashed #000;
	border-top: 2px dashed #000;
}